<h1>MGS</h1>

<%= form_tag("/games", :method => "post") do %>
  <%= label_tag(:player_list, "List player names, comma delimited") %>
  <%= text_field_tag(:player_list) %>
  <%= submit_tag("Start Game") %>
<% end %>
<br />
<br />
<%= link_to "Create new dares", dares_path %>
<%= link_to "Create new penalties", penalties_path %>
