<div class="container_12">

    <div class="grid_6">
        <h2>Current Player</h2>
        <h3><%= @cur_player.name %></h3>

        <p>Pick your poison</p>
        <%= form_tag("/games/question", :method => "post") do %>
            <%= label_tag(:rating, "Rating: ") %>
            <%= select_tag(:rating, options_for_select([['Mild', 1], ['Medium', 2], ['Super hot', 3]])) %>
            <%= hidden_field_tag(:id, @game.id) %>
            <%= submit_tag("Do it...") %>
        <% end %>
    </div>

    <div class="grid_6">
        <h2>Point Totals</h2>
        <table>
            <% @players.each do |p| %>
                <tr>
                    <td style="width:75px"><%= p.name %></td>
                    <td><%= p.points %></td>
                </tr>
            <% end %>
        </table>
    </div>


</div>
