<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @penalty.name %>
</p>

<p>
  <b>Text:</b>
  <%= @penalty.text %>
</p>

<p>
  <b>Rating:</b>
  <%= @penalty.rating %>
</p>


<%= link_to 'Edit', edit_penalty_path(@penalty) %> |
<%= link_to 'Back', penalties_path %>
